.main__left-btn, .services__button-btn, .providers__right-btn {
  width: 200px;
  height: 60px;
  border: 1.4px solid #458FF6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 55px;
  background-color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  text-align: center;
  cursor: pointer;
}

.main__left-btn:hover, .services__button-btn:hover, .providers__right-btn:hover {
  background: #458FF6;
  color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.services__text-title::before, .providers__right-title::before, .customers__title::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 55px;
  height: 1px;
  top: 65px;
  left: 48%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
}

button {
  border: 0;
  outline: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-top: 55px;
}

.header__menu {
  margin-top: 70px;
}

.header__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__menu-item {
  margin-right: 40px;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  position: relative;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-item:hover {
  color: #458FF6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__menu-item:hover::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #458FF6;
  position: absolute;
  top: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main__img {
  position: absolute;
  background-repeat: no-repeat;
  -webkit-transform: translate(-200%, 40%);
          transform: translate(-200%, 40%);
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__left {
  margin-top: 185px;
}

.main__left-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.main__left-text {
  margin-top: 25px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}

.main__left-btn {
  margin-top: 45px;
}

.main__right {
  margin-top: 85px;
  margin-left: 110px;
}

.services__inner {
  margin-top: 75px;
}

.services__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.services__text-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 60px;
  position: relative;
}

.services__text-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin-bottom: 80px;
}

.services__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -ms-grid-rows: minmax(350px, auto);
      grid-template-rows: minmax(350px, auto);
  gap: 35px;
  position: relative;
}

.services__items-item {
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  width: 350px;
  padding: 54px 45px 45px 40px;
  cursor: pointer;
}

.services__items-item:hover {
  background-color: #adddf0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.services__items-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 20px;
}

.services__items-title:hover {
  text-decoration: underline;
}

.services__items-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}

.services__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__button-btn {
  margin-top: 70px;
}

.providers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.providers__item:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 265px;
}

.providers__left {
  margin-right: 110px;
}

.providers__right-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 60px;
  position: relative;
  width: 400px;
}

.providers__right-title::before {
  top: 125px;
  left: 0;
}

.providers__right-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin-bottom: 35px;
  width: 300px;
}

.providers__right-btn-img {
  margin-left: 15px;
}

.customers__inner {
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 65px;
  margin-top: 250px;
  width: 1120px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}

.customers__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  position: relative;
}

.customers__title::before {
  background-color: #fff;
}

.customers__review {
  padding: 105px 120px 90px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.customers__review-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
  margin-right: 100px;
}

.customers__review-name {
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
}

.customers__review-text {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */