@import "vars";
@import "extends";


* {
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body{
    font-family: $font-accent;
    font-style: normal;
    font-weight: normal;
}

button{
    border: 0;
    outline: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header{

    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        margin-top: 55px;
    }

    &__menu{
        margin-top: 70px;

        &-items{
            display: flex;
            justify-content: flex-end;
        }

        &-item{
            margin-right: 40px;
            font-size: 18px;
            line-height: 23px;
            color: #1F1534;
            position: relative;

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                color: #458FF6;
                transition: 0.4s;
            }
            &:hover::before {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #458FF6;
                position: absolute;
                top: 25px;
                transition: 0.4s;
            }
        }
    }
}

.main{

    &__img {
        position: absolute;
        background-repeat: no-repeat;
        transform: translate(-200%, 40%);
    }
    
    &__inner{
      display: flex; 
    }
   
    &__left{
        margin-top: 185px;

        &-title{
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            color: #000000;
        }

        &-text{
            margin-top: 25px;
            font-weight: 300;
            font-size: 21px;
            line-height: 32px;
            color: #7D7987;
        }

        &-btn {
            @extend %button;
            margin-top: 45px;
            
            &:hover {
                @extend %button-hover;
            }
        }
        
    }

    &__right{
        margin-top: 85px;
        margin-left: 110px;
    }
    
}

.services{

    &__inner{
        margin-top: 75px;
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &-title{
            font-weight: bold;
            font-size: 36px;
            line-height: 56px;
            color: #000000;
            margin-bottom: 60px;
            position: relative;
            &::before{
                @extend %before;
            }
        }

        &-text{
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: #7D7987;
            margin-bottom: 80px;
        }
    }

    &__items{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: minmax(350px, auto);
        gap: 35px;
        position: relative;
        
        
        &-item{
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            border-radius: 20px;
            width: 350px;
            padding: 54px 45px 45px 40px;
            cursor: pointer;

            &:hover{
                background-color: rgb(173, 221, 240);
                transition: 0.8s;
            }
        }

        &-title{
            font-weight: bold;
            font-size: 24px;
            line-height: 56px;
            color: #000000;
            margin-bottom: 20px;

            &:hover{
                text-decoration: underline;
            }
        }
        &-text{
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            color: #7D7987;
        }
    }

    &__button{
        display: flex;
        justify-content: center;
        align-items: center;

        &-btn {
            @extend %button;
            margin-top: 70px;

            &:hover {
                @extend %button-hover;
            }
            
        }

    }

    
}

.providers{

    // &__inner{
    //     margin-top: 340px;  
    //     width: 1120px;
    // }

    &__item{
        display: flex;
        justify-content: space-between;


        &:last-child{
            flex-direction: row-reverse;
            margin-top: 265px;
        }
    }

    &__left{
        margin-right: 110px;
    }

    &__right{
        
        &-title{
            font-weight: bold;
            font-size: 36px;
            line-height: 56px;
            color: #000000;
            margin-bottom: 60px;
            position: relative;
            width:400px;
            &::before {
                @extend %before;
                top: 125px;
                left: 0;
            }
        }

        &-text{
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: #7D7987;
            margin-bottom: 35px;
            width:300px;
        }

        &-btn{
            @extend %button;

            &:hover {
                @extend %button-hover;
            }

            &-img{
                margin-left: 15px;
            }
        }
    }


}

.customers{
    &__inner{
        align-content: center;
        padding-top: 65px;
        margin-top: 250px;
        width: 1120px;
        background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
        border-radius: 24px;
    }

    &__title{
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        position: relative;
        &::before{
          @extend %before;
          background-color: #fff;
        }
    }

    &__review{
        padding: 105px 120px 90px 120px;
        display: flex;
        // justify-content: space-around;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.9);

        &-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
            margin-right: 100px;
        }

        &-name{
            font-weight: bold;
            font-size: 22px;
            color: #FFFFFF;

        }

        &-text{
            width: 420px;
            display: flex;
            ;
        }
    }
}


